.postsTop{
}
.postsTop__inner{
    display: flex;
    margin-bottom: 30px;
}
.textarea{
    padding: 15px;
    height: 100px;
    width: 200px;
    margin-right: 30px;
    resize: none;
    border-radius: 10px;
    border-color: mediumvioletred;

}
.textarea::placeholder{
    font-size: 16px;
    text-transform: uppercase;
}

.button{
    background: transparent;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    border: 1px solid mediumvioletred;
    color: mediumvioletred;
    align-self: center;
    margin-left: auto;
}