.app-wrapper {
    /*display: grid;*/
    grid-template-columns: 1fr 4fr;
    gap: 30px;
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;

}

.main-wrapper {
    display: grid;
    grid-template-areas: 'A B';
    grid-template-columns: 1fr 5fr;
    grid-gap: 30px;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;

}


