* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f3efef;
}

:root {
    --color-accent: #89a1ff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    padding: 0;
    margin: 0;
}

.app-wrapper-content{
    position: relative;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}
@keyframes preloader-7-spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}